# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Database
instance/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Dist
*.egg-info/
dist/
build/
